@import "tailwindcss";

@theme {
	--color-background: #fdf5ea;
	--color-background-medium: #ffedd3;
	--color-primary-light: #a78ff0;
	--color-primary: #634396;
	--color-primary-dark: #3d316b;
	--color-secondary-light: #f2a1c5;
	--color-secondary: #ea68a2;
	--color-secondary-dark: #c6457f;
	--color-accent-light: #9fcfcf;
	--color-accent: #338282;
	--color-accent-dark: #1c626f;
	--color-neutral-000: #ffffff;
	--color-neutral-400: #b7b7b7;
	--color-neutral-900: #303231;

	--font-normal: ibm-plex-sans, sans-serif;
	--font-headings: the-seasons, sans-serif;
}

@layer components {
	.section-padding-y {
		@apply py-18 md:py-20;
	}
	.section-padding-y-lg {
		@apply py-18 md:py-32;
	}
	.section-padding-x {
		@apply px-5 sm:px-10 md:px-12 lg:px-20;
	}
	.section-heading-size {
		@apply text-3xl md:text-4xl lg:text-5xl;
	}
	.section-heading-size-sm {
		@apply text-2xl md:text-3xl lg:text-4xl;
	}
	.section-center {
		@apply flex justify-center sm:justify-start;
	}
	.section-wrapper {
		@apply max-w-130 justify-center sm:max-w-none;
	}
	.img-rounded {
		@apply rounded-2xl md:rounded-3xl;
	}
	.card {
		@apply flex aspect-square h-full w-full max-w-110 flex-col items-center justify-center gap-3 rounded-2xl p-8 text-center md:rounded-3xl;
	}
}

html {
	scroll-behavior: smooth;
}

body {
	@apply bg-background font-normal text-neutral-900;
}

p {
	@apply leading-snug;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-headings text-primary leading-tight font-bold;
}
