@import "tailwindcss";

@theme {
	--color-background: #fdf5ea;
	--color-background-medium: #ffedd3;
	--color-primary-light: #a78ff0;
	--color-primary: #634396;
	--color-primary-dark: #4b2c7a;
	--color-secondary-light: #f2a1c5;
	--color-secondary: #ea68a2;
	--color-secondary-dark: #c6457f;
	--color-accent-light: #6fb3b3;
	--color-accent: #338282;
	--color-accent-dark: #1c626f;
	--color-neutral-000: #ffffff;
	--color-neutral-400: #b7b7b7;
	--color-neutral-900: #303231;

	--font-normal: ibm-plex-sans, sans-serif;
	--font-headings: the-seasons, sans-serif;
}

body {
	@apply bg-background font-normal text-neutral-900;
}

p {
	@apply leading-snug;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-headings text-primary leading-tight font-bold;
}
