@import "tailwindcss";

@theme {
	--color-background: #FDF5EA;
	--color-background-medium: #FFEDD3;
	--color-primary: #634396;
	--color-secondary: #EA68A2;
	--color-secondary-light: #F2A1C5;
	--color-accent: #338282;
	--color-accent-light: #6FB3B3;
	--color-neutral-000: #FFFFFF;
	--color-neutral-400: #B7B7B7;
	--color-neutral-900: #303231;
}

body {
	@apply bg-background text-neutral-900;
}
