/* About Us Page Styles */

/* Remove this below when you start working ... */
main {
	padding: 4em 120px; /* 2.5em innan */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

section {
	margin-bottom: 85px;
}

.page-heading {
	font-size: 2em;
}

/* CEO section */
.ceo-info-section {
	display: inline-flex;
	margin-bottom: 85px;
}
.ceo-info-image{
	object-fit: cover;
  	width: 250px;
  	height: 250px;
	border-radius: 50%;
}
.ceo-info-text{
	margin-left: 110px;
}

/* Why glimtin section */
.why-glimtin-section{
	display: inline-flex;
  	align-items: center;
}
.why-glimtin-text{
	margin-right: 210px;
}
.why-glimtin-image{
	object-fit: cover;
  	width: 350px;
  	height: 350px;
	border-radius: 50%;
	/* margin-top: 50px; */
}

.timeline {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 60px 40px 20px;
  width: auto;
  margin: 60px auto;
  overflow-x: auto;
  height: 300px;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 40px; /* placera linjen på denna höjd */
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #370B5A;
  z-index: 1; /* linjen bakom allt */
}

.timeline-item {
  position: relative;
  flex: 0 0 150px;
  text-align: center;
  z-index: 2;
}

.timeline-date {
  margin-bottom: 8px;
  font-weight: bold;
  color: #370B5A;
  position: relative;
  z-index: 3; /* ovanför linjen */
}

.timeline-marker {
  width: 18px;
  height: 18px;
  background: #370B5A;
  border-radius: 50%;
  border: 3px solid white;
  margin: 0 auto;
  position: relative;
  top: -54px; /* flytta pricken uppåt så den hamnar mitt på linjen */
  z-index: 3;
}


.timeline-title {
  margin-top: 8px;
  font-weight: 600;
  color: #370B5A;
  position: relative;
  top: -38px;
  z-index: 3;
}

.timeline-popup {
  position: absolute;
  top: 70px; /* justera efter behov så den hamnar under titeln */
  left: 50%;
  transform: translateX(-50%);
  width: 220px;
  background: #f0e9fb;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  color: #370B5A;
  font-size: 14px;
  display: none; /* dold som standard */
  z-index: 10;
}

.timeline-item.active .timeline-popup {
  display: block;
}


/* Critical section */
.critical-section{
	display: inline-flex;
	align-items: center;
}

.critical-image{
	object-fit: cover;
  	width: 350px;
  	height: 350px;
	border-radius: 50%;
	/* margin-top: 50px; */
}

.critical-link{
	display: flex;
	align-items: center;
	gap: 0.5em;
	margin-top: 10px;
}

.critical-text{
	margin-left: 180px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

h1{
	font-size: 32px;
	margin-bottom: 18px;
}

h2{
	font-size: 16px;
}

h3{
	font-size: 14px;
}

